/* Films */
.film {
  /* I don't know what should i add on this line ughhh */
  color: var(--dark-color);
}

.film__item img {
  max-width: 224.75px;
  max-height: 332.98px;
  border-radius: 12px;
}
.film__item h4 {
  padding: 5px 0;
  margin: 5px 0;
}
