/* Footer */
footer {
  position: relative;
  overflow: hidden;
  margin-top: min(15vh, 70px);
  color: var(--white-color);
}
.footer__primary {
  background-color: var(--dark-color);
  padding: 10px 0;
  margin-top: min(15vh, 70px);
}
.footer__secondary {
  background-color: var(--dark-gray-color);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin: 10px 25px 100px 25px;
}
.footer__wrapper h4 {
  margin: 23px 0;
}
.footer__wrapper span {
  padding: 5px 0;
}
.footer__wrapper h4 {
  font-size: 15px;
}
.footer__wrapper p,
.footer__copyright p,
.footer__wrapper li {
  font-size: 14px;
}
.footer__wrapper li {
  margin-bottom: 10px;
}
.footer__wrapper ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--yellow-color); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 16px; /* Also needed for space (tweak if needed) */
  margin-left: -16px; /* Also needed for space (tweak if needed) */
}
.footer__wrapper .social__box {
  background-color: var(--dark-gray-color);
}
.footer__hightlight {
  position: relative;
  color: var(--white-color);
  font-weight: 500;
}
.footer__hightlight::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  bottom: -5;
  left: 0;
  background-color: var(--yellow-color);
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__copyright p {
  margin-top: 15px;
  margin-bottom: 5px;
}
.footer__max {
  position: absolute;
  width: 193px;
  height: 207.54px;
  right: -20px;
  bottom: 110px;
  background-image: url("../img/max.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  object-fit: cover;
}
