/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--yellow-color);
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}
.loader__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loader__desc {
  margin-top: 25px;
  color: var(--dark-gray-color);
  text-align: center;
}
.loader__img {
  width: 250px;
}
.disppear {
  animation: vanish 1s forwards;
  animation-delay: 3s;
}
.hidden {
  overflow: hidden;
}
.loading {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.loading div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--dark-gray-color);
  animation: scaling 2.5s ease-in-out infinite;
}
.loading div:nth-child(1) {
  animation-delay: 0.2s;
}
.loading div:nth-child(2) {
  animation-delay: 0.4s;
}
.loading div:nth-child(3) {
  animation-delay: 0.6s;
}
.loading div:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
  0% {
  }
}
