/* Media query for desktop view  */
@media (min-width: 974px) {
  .navbar__wrapper {
    align-items: center;
  }
  .navbar__highlight {
    color: var(--dark-color);
  }
  .burger {
    display: none;
  }
  .navbar__links {
    position: relative;
    flex-direction: row;
    padding: 0;
    color: var(--dark-color);
    transform: translateX(0%);
    inset: 0;
    background: var(--white-color);
  }
  .navbar__links a {
    color: var(--dark-gray-color-color);
  }
  .hero__wrapper {
    display: flex;
    text-align: left;
    margin-top: max(17vh, 100px);
  }
  .hero__content .desc {
    line-height: 28px;
  }
  .hero__social {
    align-items: flex-start;
    justify-content: start;
  }
  .hero__minions::before {
    background-position: left bottom;
  }
  .hero__content {
    flex: 3;
  }
  .hero__image {
    position: relative;
    flex: 3;
  }
  .hero__image::before {
    position: absolute;
    content: "";
    width: 48vw;
    height: 100%;
    background-image: url("../img/hero-background.png");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    bottom: 0;
  }
  .premier__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .premier__wrapper .title__img {
    font-size: 16px;
    margin-left: -45px;
  }
  .premier__content {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .premier__grid {
    grid-template-columns: repeat(3, 171px);
    grid-auto-rows: 156px;
    justify-content: flex-start;
  }
  .premier__content .title {
    text-align: left;
    margin-top: 0;
  }
  .premier__grid__wrapper {
    flex: 2;
  }
  .premier__button {
    flex: 1;
    text-align: left;
    justify-content: start;
  }
  .button {
    transition: 0.38s all ease-in-out;
  }
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }
  .footer__about {
    flex: 0.35;
  }
  .footer__hightlight::before {
    left: 0;
  }
  .footer__copyright {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__snowball {
    position: absolute;
    width: 232px;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/snowball.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    object-fit: cover;
  }
  .footer__max {
    position: absolute;
    width: 193px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url("../img/max.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    object-fit: cover;
  }
  /* Animation for desktop view only */

  .button:hover {
    background-color: var(--dark-gray-color);
    color: var(--yellow-color);
  }
  .social__box {
    transition: 0.3s all ease-in-out;
  }
  .social__box:hover {
    transform: scale(1.15);
  }
  .premier__item {
    transition: 0.3s all ease-in-out;
    filter: brightness(80%);
    filter: contrast(80%);
    cursor: pointer;
  }
  .premier__item:hover {
    filter: brightness(100%);
    filter: contrast(100%);
  }
}
