/* Basic Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --yellow-color: #ffd369;
  --dark-color: #222831;
  --dark-gray-color: #393e46;
  --white-color: #fff;
  --transparant-white: rgba(255, 255, 255, 0.5);
  --navbar-background-color: rgba(34, 40, 49, 0.6);
  --font-poppins: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--yellow-color);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  text-align: center;
}
.loader__desc {
  margin-top: 25px;
  color: var(--dark-gray-color);
}
.loader img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.disppear {
  animation: vanish 1s forwards;
}
.hidden {
  overflow-y: hidden;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
  0% {
  }
}
/* Layout */
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Navbar */
.shadow {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.3);
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  z-index: 99;
}
.logo {
  max-width: 324px;
}
.navbar__wrapper {
  position: relative;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.navbar__links {
  display: flex;
  list-style: none;
  position: fixed;
  padding: min(15vh, 100px) 50px;
  gap: 20px;
  background-color: var(--transparant-white);
  backdrop-filter: blur(12px);
  inset: 77px 0 0 35%;
  flex-direction: column;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  bottom: 0;
}

/* Burger */
.burger {
  z-index: 999;
  cursor: pointer;
}

.navbar__links__active {
  transform: translateX(0%);
}
.navbar__links__active span:first-child {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.navbar__links__active span:nth-child(2) {
  opacity: 0;
}
.navbar__links__active span:last-child {
  transform: rotate(45deg) translate(-6px, -6px);
}
.navbar__links a {
  color: var(--dark-gray-color-color);
}
.navbar__highlight {
  position: relative;
  color: var(--white-color);
  font-weight: 500;
}
.navbar__highlight::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  bottom: -5;
  left: 25%;
  background-color: var(--yellow-color);
  transition: all 0.3s ease-in-out;
}

.burger span {
  transition: all 0.3s ease-in-out;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: var(--yellow-color);
  border-radius: 3px;
}

/* Hero */

.hero__wrapper {
  text-align: center;
}

.hero__content {
  margin-top: min(20vh, 150px);
}
.hero__content h1 {
  color: var(--dark-color);
  font-size: 36px;
  text-transform: uppercase;
}
.hero__content span {
  font-size: 20px;
  margin-top: -10px;
  color: var(--dark-color);
  display: block;
}
.hero__content .desc {
  padding: 10px 0;
  color: var(--dark-gray-color);
}
.hero__minions {
  position: relative;
  height: 294px;
  margin: min(15vh, 105px) 0;
  z-index: -99;
}
.hero__minions::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/minions.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  bottom: -32%;
  object-fit: cover;
  left: 0;
}
.hero__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: var(--yellow-color);
  border-radius: 12px;
}
/* Border left */
.border::before {
  content: "";
  width: 3px;
  height: 14px;
  display: inline-block;
  background-color: var(--yellow-color);
  border-radius: 3px;
}

/* Premier */
.premier {
  padding: min(15vh, 70px) 0px;
  color: var(--dark-color);
}
.premier__wrapper {
  display: flex;
  flex-flow: row-reverse;
  flex-direction: column;
  gap: 15px;
}
.premier__wrapper .title__img {
  letter-spacing: 2px;
  text-align: center;
  color: var(--dark-gray-color);
  font-weight: 200;
  font-size: 14px;
}
.premier__content .title {
  letter-spacing: 3px;
  margin: 20px 0;
  text-align: center;
}
.premier__content .desc {
  line-height: 28px;
  color: var(--dark-gray-colorcolor);
}

.premier__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, 1fr);
  gap: 10px;
  margin: 10px;
}

.premier__button {
  display: flex;
  margin-top: 10px;
  text-align: center;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* Button premier */
.button {
  text-align: center;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 12px;
  letter-spacing: 2px;
  background-color: var(--yellow-color);
  color: var(--dark-color);
  transition: 0.3s all ease;
  border: none;
}
/* Grid items */
.premier__item {
  border-radius: 12px;
}
.items__1 {
  background-image: url("../img/premier-1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.items__2 {
  background-image: url("../img/premier-2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.items__3 {
  background-image: url("../img/premier-3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  grid-row: span 2;
}

.items__4 {
  background-image: url("../img/premier-4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  grid-column: span 2;
}

@media (min-width: 874px) {
  .navbar__wrapper {
    align-items: center;
  }
  .navbar__highlight {
    color: var(--dark-color);
  }
  .burger {
    display: none;
  }
  .navbar__links {
    position: relative;
    flex-direction: row;
    padding: 0;
    color: var(--dark-color);
    transform: translateX(0%);
    inset: 0;
    background: var(--white-color);
  }
  .navbar__links a {
    color: var(--dark-gray-color-color);
  }
  .hero__wrapper {
    display: flex;
    text-align: left;
    margin-top: min(15vh, 100px);
  }
  .hero__social {
    align-items: flex-start;
    justify-content: start;
  }

  .hero__minions {
    display: block;
  }
  .hero__minions::before {
    background-position: left bottom;
  }
  .hero__content {
    flex: 3;
  }
  .hero__image {
    position: relative;
    flex: 3;
  }
  .hero__image::before {
    position: absolute;
    content: "";
    width: 850px;
    height: 100%;
    display: block;
    background-image: url("../img/hero-background.png");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
  }
  .premier__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .premier__content {
    flex: 2;
  }
  .premier__grid {
    grid-auto-rows: minmax(147px, 1fr);
  }
  .premier__content .title {
    text-align: left;
  }
  .premier__grid__wrapper {
    flex: 2;
  }
  .premier__button {
    text-align: left;
    justify-content: start;
    align-items: flex-start;
  }
  .button {
    transition: 0.3s all ease-in-out;
  }
  /* Animated Desktop */
  .button:hover {
    opacity: 0.7;
  }
  .social-box {
    transition: 0.3s all ease-in-out;
  }
  .social-box:hover {
    transform: scale(1.15);
    opacity: 0.6;
  }
  .premier__item {
    transition: 0.35s all ease-in-out;
    filter: brightness(80%);
    filter: contrast(80%);
  }
  .premier__item:hover {
    filter: brightness(100%);
    filter: contrast(100%);
    transform: scale(2);
  }
  .premier__item:nth-child(1):hover {
    transform: translateX(-10px) scale(1.02);
  }
  .premier__item:nth-child(2):hover {
    transform: translateY(-10px) scale(1.02);
  }
  .premier__item:nth-child(3):hover {
    transform: translateX(10px) scale(1.02);
  }
  .premier__item:nth-child(4):hover {
    transform: translateX(-10px) scale(1.02);
  }
}
