/* Basic Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --yellow-color: #ffd369;
  --dark-color: #222831;
  --dark-gray-color: #393e46;
  --white-color: #fff;
  --navbar-background-color: rgba(34, 40, 49, 0.6);
  --font-poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Layout */
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Navbar */
.logo {
  max-width: 324px;
}
.navbar__wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navbar__links {
  display: flex;
  list-style: none;
  position: fixed;
  padding: min(30vh, 100px) 50px;
  gap: 20px;
  background-color: var(--navbar-background-color);
  backdrop-filter: blur(10px);
  inset: 0 0 0 30%;
  flex-direction: column;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

/* Burger */
.burger {
  z-index: 9999;
  cursor: pointer;
}

.navbar__links__active {
  transform: translateX(0%);
}
.navbar__links__active span:first-child {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.navbar__links__active span:nth-child(2) {
  opacity: 0;
}
.navbar__links__active span:last-child {
  transform: rotate(45deg) translate(-6px, -6px);
}
.navbar__links a {
  color: var(--white-color);
}

.burger span {
  transition: all 0.3s ease-in-out;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: var(--yellow-color);
  border-radius: 3px;
}

/* Hero */

.hero__wrapper {
  text-align: center;
}

.hero__content {
  padding-top: min(10vh, 200px);
  padding-bottom: min(10vh, 200px);
}
.hero__content h1 {
  color: var(--dark-color);
  font-size: 36px;
}
.hero__content span {
  font-size: 20px;
  margin-top: -10px;
  color: var(--dark-color);
  display: block;
}
.hero__content .desc {
  padding: 10px 0;
  color: var(--dark-gray-color);
}
.hero__minions {
  display: block;
  min-height: 294px;
  background-image: url("../img/minions.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: min(30vh, 100px);
}
.hero__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: var(--yellow-color);
  border-radius: 12px;
}
/* Border left */
.border::before {
  content: "";
  width: 3px;
  height: 14px;
  display: inline-block;
  background-color: var(--yellow-color);
  border-radius: 3px;
}

/* Premier */
.premier {
  padding: min(30vh, 70px) 0px;
  color: var(--dark-color);
}
.premier__wrapper {
  display: flex;
  flex-flow: row-reverse;
  flex-direction: column;
  gap: 15px;
}
.premier__wrapper .title__img {
  letter-spacing: 2px;
  text-align: center;
  color: var(--dark-gray-color);
  font-weight: 200;
  font-size: 14px;
}
.premier__content .title {
  letter-spacing: 3px;
  margin: 20px 0;
}
.premier__content .desc {
  line-height: 28px;
  color: var(--dark-gray-colorcolor);
}

.premier__grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-auto-rows: 100px;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

.premier__button {
  text-align: center;
}
.premier__content .ticket {
  margin-right: 10px;
  margin-top: 20px;
}

/* Button premier */
.button {
  text-align: center;
  display: inline-block;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 12px;
  letter-spacing: 2px;
  background-color: var(--yellow-color);
  color: var(--dark-color);
}
/* Grid items */
.premier__item {
  border-radius: 12px;
}
.items__1 {
  background-image: url("../img/premier-1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.items__2 {
  background-image: url("../img/premier-2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.items__3 {
  background-image: url("../img/premier-3.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  grid-row: span 2;
}

.items__4 {
  background-image: url("../img/premier-4.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  grid-column: span 2;
}

@media (min-width: 874px) {
  .navbar__wrapper {
    align-items: center;
  }
  .navbar__links__active {
    position: relative;
  }
  .navbar__links__active::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 3px;
    bottom: -5;
    left: 25%;
    background-color: var(--yellow-color);
  }
  .burger {
    display: none;
  }
  .navbar__links {
    position: relative;
    flex-direction: row;
    padding: 0;
    color: var(--dark-color);
    transform: translateX(0%);
    inset: 0;
    background: var(--white-color);
  }
  .navbar__links a {
    color: var(--dark-color);
  }
  .hero__wrapper {
    display: flex;
    text-align: left;
    margin-top: min(30vh, 50px);
  }
  .hero__social {
    align-items: flex-start;
    justify-content: start;
  }
  .hero__minions {
    background-position: left bottom;
  }
  .hero__content {
    flex: 3;
    margin-right: 50px;
  }
  .hero__image {
    position: relative;
    flex: 4;
  }
  .hero__image::before {
    position: absolute;
    content: "";
    height: 726px;
    width: 100%;
    display: block;
    right: -15%;
    background-image: url("../img/hero-background.png");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .premier__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
  .premier__grid {
    display: grid;
    grid-template-columns: repeat(3, 171px);
    grid-auto-rows: 143px;
  }
  .premier__button {
    text-align: left;
  }
}
